# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/
build/

# VS Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Arquivos de log
*.log

# Environment
.env
.env.local

# Spring Boot
application-local.properties

# Docker
docker-compose.override.yml

