# Configurações do Banco de Dados PostgreSQL
DB_NAME=springdb
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# Configurações da Aplicação Spring Boot
APP_PORT=8080

# Observação: Para usar este arquivo, renomeie para .env
# docker-compose lerá automaticamente as variáveis

